<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0374b220-3ffa-4376-a740-1303c42bbc23/resourceGroups/andromedaraying/providers/Microsoft.Web/sites/andromedaraying</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://andromedaraying.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>andromedaraying.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>andromedaraying</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$andromedaraying</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>